[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-bbk
Exec=harbour-bbk
Name=BBK
[X-Sailjail]
Sandboxing=Disabled
Permissions=Internet;WebView
OrganizationName=net.attah
ApplicationName=bbk
